body {
  font-family: helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}

nav a {
  color: seashell;
  padding: 20px 10px;
}

.logo {
  height: 50px;
  padding-left: 10px;
}

header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid seashell;
  height: 69px;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
